<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RollerSkateMapLocations</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/AjaxHelper.js" asp-append-version="true"></script>
    <script src="~/js/googleMapManager.js" asp-append-version="true"></script>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark bg-dark p-0 m-0">
            <a class="navbar-brand pl-3" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/roller-skate-logo.svg" width="50" height="50" alt="">
            </a>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link @(ViewBag.Current == "Home" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewBag.Current == "Locations" ? "active" : "")" asp-area="" asp-controller="Locations" asp-action="Locations">Locations</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="dropdown-toggle nav-link border-0" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"
                                    style="background-color:transparent;border:none">
                                Useful info
                            </button>
                            <div id="myDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="@(ViewBag.Current == "Info" ? "active" : "")" asp-area="" asp-controller="Info" asp-action="Basics">Learning the Basics</a>
                                <a asp-area="" asp-controller="Info" asp-action="Benefits">Benefits of Roller Skating</a>
                                <a asp-area="" asp-controller="Info" asp-action="Guide">Guide To Buy</a>
                            </div>
                        </div>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewBag.Current == "About" ? "active" : "")" asp-area="" asp-controller="About" asp-action="Index">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewBag.Current == "Contacts" ? "active" : "")" asp-area="" asp-controller="Contacts" asp-action="Index">Contacts</a>
                    </li>
                    @if (Context.User.Identity.IsAuthenticated && Context.User.IsInRole(UserTypeEnum.Admin.ToString()))
                    {
                        <li class="nav-item dropdown bg-dark @(ViewBag.Current == "Admin" ? "active" : "")">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Index" asp>Users</a>
                            </div>
                        </li>
                    }
                </ul>
                <button type="button" class="btn btn-outline-dark pr-3" data-toggle="modal" data-target="#shared-login-popup">
                    <img src="~/img/login-person.svg" width="30" height="30" alt="">
                </button>

            </div>

        </nav>
    </header>
    <div class="container-xxl p-3">
        <div hidden id="user-id">
            @(Context.User.Claims.FirstOrDefault(x => x.Type == "UserId") == null ? "" : Context.User.Claims.FirstOrDefault(x => x.Type == "UserId").Value)
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_LoginPartialModal" />

    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
</body>
</html>