<div class="col-md-8">
    <div class="media g-mb-30 media-comment">
        <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="https://i.pinimg.com/564x/9c/5f/98/9c5f98a444d84211af793388a3661eb3.jpg" alt="Image Description">
        <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
            <div class="g-mb-15">
                <div class="d-flex flex-nowrap">
                    <div class="d-flex justify-content-start">
                        <div class="order-0 p-2"><h5 class="h5 g-color-gray-dark-v1 mb-0">@Model.User.FirstName @Model.User.LastName</h5></div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="order-1 p-2"><span class="g-color-gray-dark-v4 g-font-size-12">@Model.CommentCreatedDateTime</span></div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="p-2"><br /><p>@Model.CommentText</p></div>
                </div>
            </div>

            
            <ul class="list-inline d-sm-flex my-0">
                <li class="list-inline-item g-mr-20">
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" onclick="addlikes(@Model.Id)">
                        <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                        <div id="@Model.Id-likes-number">@Model.Likes</div>
                    </a>
                </li>

                <li class="list-inline-item g-mr-20">
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" onclick="adddislikes(@Model.Id)">
                        <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                        <div id="@Model.Id-dislikes-number">@Model.Dislikes</div>
                    </a>
                </li>
                @if (
                 Rollers.Utilities.Helpers.CommentHelper.HasToShowDeleteButton(Context.User.Claims, Model.UserId)
              )

                {
                    <li class="list-inline-item ml-auto">
                        <button type="button" class="btn btn-link g-color-primary--hover" onclick="$('#text_id_@Model.Id').show()">
                            <i><img src="~/img/pen.png" width="12" alt=""></i>
                            Edit
                        </button>
                        <div id="text_id_@Model.Id" style="display:none">
                            <textarea id="editcomment-text_@Model.Id" cols="50" rows="5" name="text" class="form-control" style="resize:vertical">@Model.CommentText</textarea>
                            <div hidden id="comment-id">
                                @(Model.Id < 1 ? 0 : Model.Id)
                            </div>
                            <button type="button"
                                    id="editcomment-save-button"
                                    onclick="save_edited_comment(@(Model.Id), $('#editcomment-text_@Model.Id.ToString()'))"
                                    class="btn btn-dark">
                                Save
                            </button>
                        </div>
                    </li>
                }
                @if (
                 Rollers.Utilities.Helpers.CommentHelper.HasToShowDeleteButton(Context.User.Claims, Model.UserId)
              )
                {
                    <li class="list-inline-item ml-auto">
                        <button type="button" class="btn btn-link g-color-primary--hover" data-toggle="modal" data-target="#popup_delete_comment_@Model.Id.ToString()">
                            <i><img src="~/img/pen.png" width="12" alt=""></i>
                            Delete
                        </button>
                        <partial name="DeleteCommentPartial.cshtml" model="@Model" />
                    </li>
                }
            </ul>

        </div>
    </div>
</div>