@using Rollers.ViewModels

@model Rollers.ViewModels.LocationsViewModel
@{ 
    ViewData["GoogleApiKey"] = Model.GoogleApiKey;
}

<div class="row p-3 align-items-center justify-content-center">
    <div class="col-4">
        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#add-new-location-popup">
            Add Location
        </button>
    </div>
</div>
<div style="display: flex; justify-content: center">
    @if (Model.RollerSkateMapLocations.Count > 0)
    {
        @foreach (var location in Model.PaginatedRollerSkateMapLocations())
        {
            <partial name="LocationPartial.cshtml" model="@location" view-data="ViewData"/>
        }
    }
</div>

<ul class="pagination g-color-gray-dark-v4" style="display: flex; justify-content: center">
    @for (int i = 1; i <= Model.PageCount(); i++)
    {
        <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
            <a class="page-link" href="@Url.Action("Locations", new { page = i })">@i</a>
        </li>
}
</ul>

<partial name="AddLocationPartial"  model="@Model" />

